*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
ul,
ol,
h1,
h2,
h3,
p {
    margin: 0;
}

ul,
ol {
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
}

code{
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    font-family: 'ordenador';
    align-items: center;
}

img {
    max-width: 100%;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 2%;
}

header {
    color: #fff;
    text-align: center;
    padding: 3%;
   
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    box-sizing: border-box;
}

.uno,
.dos,
.tres {
    width: calc(30% - 20px); 
}

footer {
    color: #fff;
    text-align: center;
    padding: 30px;
    width: 100%;
    text-align: center; 
    display: inline-block;
}


p {
    margin-left: 20px; 
}

.comentario{
    margin-left: 0;
    color: #5b9b07;
}

div:hover{ 
    box-shadow: 2px 2px 5px #fafafa;
}

img{
    margin-top: 20%;
    filter: blur(5px) grayscale(50%);
    border-radius: 10px;
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px 5px #2B8FC8;

}

img:hover{
    filter: none;
    box-shadow: 2px 2px 5px #2B8FC8;
    border-radius: 10px;
    
}



a{
    text-decoration: none;
    font-weight: bold;
    color:#2B8FC8;
}
a:hover{
    text-decoration:underline;
}

body{
    background-image:url(images/fondo.png); 
    background-size: cover;
}

.fuera{
    color: #fff;
    
}


.fuera2{
    color: #fff;
    position: fixed; 
            bottom: 0; 
            right: 0;
            margin: 10px;
}

.logo{
    filter: none;
    max-width: 100%;
    width: 25%;
    margin: 0 auto;
    left: 50%; 
    transform: translateX(151%); 
    margin-bottom: 5%;
    transition: transform 0.7s ease-out;
}

.logo:hover{
    transform: translateX(10%);
}

